# ===== Visual Studio =====
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
node_modules/
# ===== .NET =====
*.dll
*.exe
*.pdb

# ===== SQLite =====
*.db
*.db-shm
*.db-wal

# ===== OS =====
.DS_Store
Thumbs.db
